body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../../assets/img/biblioth-que-du-film-26.jpg) ;
    background-repeat: no-repeat;  
    background-size: cover;
}

*{

    list-style: none;
    text-decoration: none;
}

.body{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}



.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex: 1 1 30rem;
    margin-left: 12rem;

    
}

.box{
    max-width: 10rem;
    padding: 3rem;
    margin-right: 4rem;
    margin-top: 7rem;
    background: rgba(206, 37, 37, 0);
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
    border: 0.1rem solid rgb(0, 0, 0, 3);
    border-radius: 0.5rem;
    border-color: #770202;
    text-align: center;
    position: relative;
    color: #770202;
    font-size: 1.5rem;
}

.box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: 0.5rem;
}

.sidebar header{
    font-size: 22px;
    color: width;
    text-align: center;
    line-height: 70px;
    user-select: none;
    color: white;
}

